@media all and (min-width:480px){
   
   header::before {
      margin-bottom: 130px;
   }
   
   .logo h1{
      font-size: 1.8em;
   }
   
   .logo h2{
      font-size: 1.15em;
   }
   
   .menu-toggle{
      font-size: 26px;
   }
   
   .nav a{
      font-size: 1.1em;
      padding: 7px 0;
   }
   
   #menu {
      top: 110px;
   }
   
   article{
      width: 40%;
      margin: 5%;
   }
   
   .costados{
      margin: 0 5%;
      flex-direction: row;
      justify-content: space-between;
   }
   
   .acerca{
      flex-grow: 3;
   }
   
   .infogen{
      flex-grow: 3;
   }
   
   .agregar-imagen{
      width: 80%;
   }

}

@media all and (min-width:660px){
   
   .logo{
      text-align: left;
   }
   
   nav{
      padding: 0 5%;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 5px solid green;
   }
   
   .nav{
      width: auto;
      background: none;
      padding-right: 10%; 
   }
   
   .nav a, svg{
      flex-shrink: 0;
   }
   
   .select, .nav a:hover{
      color: green;
   }
   
   #menu {
      top: 78px;
      left: auto;
   }
   
   .show {
      height: 139px !important;
   }
   
   article{
      width: 29%;
      margin: 5% 2%;
   }
   
   .agregar-imagen{
      width: 40%;
   }
}