@media all and (min-width:480px){
   
   .logo{
      text-align: left;
   }
   
   nav{
      padding: 0 5%;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 5px solid green;
   }
   
   .nav{
      width: auto;
      background: none;
      padding-right: 10%; 
   }
   
   .nav a, svg{
      flex-shrink: 0;
   }
   
   .select{
      color: green;
   }
   
   article{
      width: 40%;
      margin: 5%;
   }
   
   #menu{
      top: 68.5px;
      left: auto;
   }
   
   .costados{
      margin: 0 5%;
      flex-direction: row;
      justify-content: space-between;
   }
   
   .acerca{
      flex-grow: 3;
   }
   
   .infogen{
      flex-grow: 3;
   }

}

@media all and (min-width:660px){
   article{
      width: 29%;
      margin: 5% 2%;
   }
}