/*************************
GENERAL
**************************/
body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

#productos-nav {
	margin: 0 auto;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
}

h4{
	padding-bottom: 0.5em;
}

/*************************
HEADING
**************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: 800;
	line-height: 0.8em;
}

h2 {
	font-size: 0.80em;
	margin: -5px 0 0;
	font-weight: normal;
}

h4{
	margin-bottom: 0;
}

.espacio{
	background: #fff;
}

/*****************************
PAGINA: PRODUCTOS
******************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.95em;
	text-align: center;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
}

#gallery li img {
	border-radius: 25%;
}

/*Linpia los espacios en blanco*/
#gallery li:nth-child(3n) {
	clear: left;
}

#gallery li:nth-child(6n) {
	clear: right;
}

#gallery li:nth-child(7n) {
	clear: left;
}

#gallery li:nth-child(11n) {
	clear: left;
}

/***************************************
ADENTRO DE LAS IMAGENES DE LOS PRODUCTOS
****************************************/
#producto ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#producto img {
	border-radius: 10%;
}

#producto ul.secundary p {
	margin: 0.7em 0;
}
/*Link '<-- Regresar'*/
#wrapper a.regresar {
	display: inline-block;
	margin-bottom: 1em;
}

#secundary a.whatsapp {
	display: inline-block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding-left: 25px;
}

#producto ul#secundary a.whatsapp {
	background-image: url('../img/whatsapp.png');

}

/*****************************
PAGINA: ACERCA DE
******************************/

.profile-photo {
	display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	border-radius: 50%
}

/*****************************
PAGINA: CONTACTO
******************************/

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info li {
	margin: 0.5em 0;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 0 10px;
}

.contact-info li.phone a {
	background-image: url('../img/phone.png');
}

.contact-info li.whatsapp a {
	background-image: url('../img/whatsapp.png');
}

.contact-info li.facebook a {
	background-image: url('../img/facebook.png');
}

/**************************
NAVIGATION
***************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

#productos-nav {
	text-align: center;
	margin: 0;
	padding-top: 25px;
	background: #fff;
	width: 100%;
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
	z-index: 100;
	transition: ease-in-out 0.5s;
}

#productos-nav a {
	font-weight: 700;
	padding: 1px 10px;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li, #productos-nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}
/*En ropa hago esto/s titulos*/
.tutus {
	text-align: center;
	color: black;
	font-size: 2em;
	border-bottom: solid 10px skyblue;
}
/*************************
FOOTER
**************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color: #ccc;
	clear: both;
}

.social-icon {
	widows: 30px;
	height: 30px;
	margin: 0 5px;
}

/*************************
COLORS
**************************/

/*Encabezado*/

header {
	background: #00ff00;/*Verde claro*/
	border-color: blue;/*Azúl*/
}
/*Texto de logo*/
h1, h2 {
	color: #fff;/*Blanco*/
}

/*Links de navegacion*/

nav {
	background: green;/*Verde*/
}
nav a {
	color: #fff;/*Blanco*/
}

/*
 *Cuando estas en la página o el cursor esta sobre los links de navegación se pones de color:
 */
nav a.seleccionar, nav a:hover {
	color: #00ff00;/*Verde claro*/
}

/*Cuerpo de la página*/

body {
	color: #999;/*Gris*/
}

#productos-nav a {
	color: black;
}

#productos-nav a.selec, #productos-nav a:hover {
	border-bottom: solid 5px red;
	color: black;
}

/*Links*/

a {
	color: #4db8ff;/*Celeste*/
}

a:hover {
	color: #999;/*Gris*/
}

a:active {
	color: blue;/*Azúl*/
}

/*Parrafos de producto*/

#gallery li a p {
	background-color: #f5f5f5;/*Tono bajo de gris*/
	color: #bdc3c7;/*Tono fuerte de gris*/
}