*{
   margin: 0;
   padding: 0;
   box-shadow: border-box;
}

body{
   font-family: sans-serif;
}

a{
   text-decoration: none;
   color: #0AB3FF;
}

img{
   width: 100%;
}

h3{
   margin-bottom: 0.6em;
}

p{
   margin-bottom: 0.5em;
}

/********************
BARRA DE NAVEGACION
*********************/

header{
	position: fixed;
	width: 100%;
}

nav{
   background: #00ff00;
}

.logo{
   padding: 10px 0;
   text-align: center;
}

.logo h2{
   font-size: 0.89em;
}

nav a{
   color: #fff;
}

.nav{
   display: flex;
   background: green;
   justify-content: center;
   align-items: center;
   padding: 1px 0;
   width: 100%;
}

.nav a{
   padding: 3px 0;
   margin: 0 7px;
   font-weight: 800;
   font-size: 1.1em;
   
}

.select, .nav a:hover{
   color: #0f0;
}

/*Menu hamburguesa*/
#menu{
   width: 0;
   height: 200;
   overflow: hidden;
   position: fixed;
   background: rgba(0, 0, 0, .4);
   box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
   transition: .3s ease-out;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

#menu a{
	padding: 15px 0;
   text-align: center;
   font-size: 1.1em;
   font-weight: 800;
   color: #f2f2f2;
}

.menu-toggle{
	z-index: 100;
   font-size: 23px;
   cursor: pointer;
   color: #fff;
}

.show{
   width: 90px !important;
}

.espacio{
	height: 110px;
}

/**********************
PRODUCTOS
***********************/

.titulo{
	margin-bottom: 5%;
   text-align: center;
   border-bottom: 10px solid #598CF8;
}

#tutus{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 940px;
   margin: 0 auto;
}

.subtitulos{
   text-align: center;
   width: 85%;
   background: #7075B5;
}

.contenido{
   max-width: 940px;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
}

.contenido img{
   cursor: pointer;
   border-radius: 20%;
}

article{
   width: 80%;
   margin: 5% 10%;
}

.descripcion p a{
   background-size: 20px 20px;
   background-repeat: no-repeat;
   padding: 0 0 0 20px;
}

.imagen-light{
   object-fit: cover;
   position: fixed;
   background: rgba(0, 0, 0, .6);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(100%);
   transition: transform .2 ease-in-out;
}

.show2{
   transform: translate(0);
}

.agregar-imagen{
   object-fit: cover;
   border-radius: 10px;
   width: 95%;
   transform: scale(0);
   transition: transform .3s .2s;
}

.showImagen{
   transform: scale(1);
}

.close{
   position: absolute;
   top: 15px;
   right: 15px;
   width: 40px;
   cursor: pointer;
   color: #fff;
}

/*********************
ACERCA DE
**********************/

.vero img{
   border-radius: 50%;
}

.costados{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

/*********************
CONTACTO
**********************/

.contacto a{
   display: block;
   min-height: 20px;
   background-size: 20px 20px;
   background-repeat: no-repeat;
   padding: 0 0 0 30px;
   margin: 0 0.2em 10px;
}

.contacto .whatsapp, .descripcion p a{
   background-image: url("../img/whatsapp.png");
}

.contacto .facebook{
   background-image: url("../img/facebook.png");
}

/*********************
FOOTER
**********************/

footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px 0 20px 0;
}

footer img{
   width: 30px;
   margin-bottom: 10px;
}
footer p{
   color: #ccc;
}